<!-- /components/navbar.html -->
<!DOCTYPE html>
<nav class="navbar">
    <div class="container">
        <div class="nav-wrapper">
            <a href="index.html" class="logo">
                <img src="logo.png" alt="Adriana Pozas - Podólogo en Querétaro">
            </a>
            <button class="menu-toggle" aria-label="Abrir menú">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul class="nav-menu">
                <li><a href="index.html">Inicio</a></li>
                <li class="dropdown">
                    <a href="clinica-queretaro.html">Clínica</a>
                    <ul class="dropdown-menu">
                        <li><a href="una-encarnada-queretaro.html">Uña Encarnada</a></li>
                        <li><a href="pedicure-clinico-queretaro.html">Pedicure Clínico</a></li>
                        <li><a href="tratamiento-pie-diabetico-queretaro.html">Pie Diabético</a></li>
                        <li><a href="curaciones-especializadas-queretaro.html">Curaciones</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="spa-medico-queretaro.html">Spa Médico</a>
                    <ul class="dropdown-menu">
                        <li><a href="tratamiento-hongos-callos-queretaro.html">Hongos y Callos</a></li>
                        <li><a href="exfoliacion-hidratacion-queretaro.html">Exfoliación e Hidratación</a></li>
                        <li><a href="aromaterapia-queretaro.html">Aromaterapia</a></li>
                        <li><a href="spa-terapeutico-pies-queretaro.html">Spa Terapéutico</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="masaje-pies-queretaro.html">Masajes</a>
                    <ul class="dropdown-menu">
                        <li><a href="masaje-relajante-pies-queretaro.html">Masaje Relajante</a></li>
                        <li><a href="reflexologia-podal-queretaro.html">Reflexología Podal</a></li>
                        <li><a href="masaje-descontracturante-queretaro.html">Descontracturante</a></li>
                        <li><a href="hidromasaje-relajante-queretaro.html">Hidromasaje</a></li>
                    </ul>
                </li>
                <li><a href="https://wa.me/5214425282492?text=Hola%2C%20me%20interesa%20agendar%20una%20cita%20para%20cuidado%20podol%C3%B3gico" class="btn-contact">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>